@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Please feel free to contact us.</h3>

<address>
    One Microsoft Way<br>
    Belfast, BT32 7TY<br>
    <abbr title="Phone" class="">P:</abbr> 453543635</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>